/*
 *= require_tree .
 *= require_self
 */
body {
  margin: 0 25px;
}
body h2 {
  font-size: 1em;
  font-weight: normal;
}
body .errors {
  color: red;
  margin: 20px 0;
}
section.events {
  margin: 0 25px;
}
section.events dl dd {
  margin: 0;
}
section.events dl.hour dd {
  margin-left: 25px;
}
